<nav class="navbar sticky-top navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid ">
      <a class="navbar-brand" href="/home">Yelp-Camp</a>
      <span class="navbar-brand"><%= currentUser ? 'Welcome Home '+currentUser.username : '' %></span> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active"  href="/campgrounds">View All</a>
          <a class="nav-link" href="/campgrounds/new">Add New</a>
        </div>
        <div class="navbar-nav ml-auto">
          <% if (!currentUser){ %>
            <a class="nav-link" href="/login">SignIn</a>
            <a class="nav-link" href="/register">SignUp</a>
          <% } else { %>
            <a class="nav-link" href="/logout">Logout</a>
            <%}%>
        </div>
      </div>
      
    </div>
  </nav>