<%- layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Opps!!!</h4>
      <p><%= err.name %></p>
      <hr>
      <p class="mb-0"><%= err.message %></p>
      <%if(process.env.NODE_ENV !== "production"){ %>
        <p><%= err.stack %></p>
      <% } %>
      
  </div>
  </div>
</div>
