<%- layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-4">
        <h3>Welcome to yelp-Camp Application</h3>
        <div class="container mt-5">
            <% if(!currentUser){ %>
                <a class="btn btn-primary " href="/login">LOGIN</a>
                <a class="btn btn-primary" href="/register">Signup</a>
            <%} %>
            <a class="btn btn-primary" href="/campgrounds">View Campgrounds</a>
        </div>
     
    </div>
</div>

